@import '../../styles/variables.scss';
.ant-form-item-explain-error{
  li{
    text-align: start !important;
  }
}
.visibilityIcon{
  position: absolute;
  height: 20px;
  width: 20px;
  top: 16px !important;
  right: 16px;
  cursor: pointer;
  z-index: 10000;
  svg{
    &:hover{
      path{
        stroke: $ui-neutral-70
      }
    }
  }
}

.form-element{
  height: 48px !important;
  background: $ui-neutral-10 !important;
  color:#bfbfbf;
}

.focused_element{
  border: 1px solid $mainColor !important;
}

.input_wrapper{
  position: relative;
  border-radius: 8px;
  border: 1px solid $ui-neutral-30;
  color: $ui-neutral-90 ;
  font-size: 16px ;
  line-height: 20px ;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  input{
    border: none !important;
    max-width: 80% !important;
    &::placeholder{
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.2px;
      color: $ui-neutral-50 !important;
    }
  }
  .icon_prefix{
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon_clear{
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}


.input_pass_wrapper{
  position: relative;
}

.default_input::placeholder{
  font-size: 16px;
}

.default_input {
  padding: 8px 12px;
  height: 36px ;
  width: 448px ;
  border-radius: 8px;
  border: 1px solid $ui-neutral-30;
  color: $ui-neutral-90 ;
  font-size: 16px ;
  line-height: 20px ;
  &:hover, &:focus {
    border: 1px solid $mainColor;
    box-shadow: none;
  }
}

