@import '../../styles/variables.scss';

.avatar_wrapper{
  border-radius: 50%;
  .avatar{
    height: 40px;
    border-radius: 50%;
    width: 40px;
    object-fit: contain;
    border: 1px solid $ui-neutral-30;
  }
  .empty{
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }
}
