@import '../../styles/variables.scss';

.radioWrapper {
  cursor: pointer;
  position: relative;
  .radio{
    cursor: pointer;
  }
  input[type="radio"]:checked,
  input[type="radio"]:not(:checked)
  {
    position: absolute;
    left: -9999px;
  }
  .radio:checked + label,
  .radio:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
  }

  .radio:checked + label:before,
  .radio:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid $mainColor;
    background-color: $ui-neutral-white;
    border-radius: 100%;
  }

  .radio:checked + label:after,
  .radio:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 3px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $mainColor;
  }

  .radio:not(:checked) + label:after {
    opacity: 0;
  }
  .radio:checked + label:after {
    opacity: 1;
  }

}
